apiVersion: v1
kind: ConfigMap
metadata:
  name: migration-v2-sql
  namespace: ${NAMESPACE}
  labels:
    app.kubernetes.io/name: notes-app
    app.kubernetes.io/component: migration
    app.kubernetes.io/version: v2
    app.kubernetes.io/part-of: zero-data-loss-upgrade

data:
  002_v2.sql: |
    USE notesdb;

    ALTER TABLE notes
    ADD COLUMN content TEXT NULL AFTER author;

    UPDATE notes
    SET content = body
    WHERE id <= 10;

    SELECT SLEEP(15);

    ALTER TABLE notes
    DROP COLUMN body;

    UPDATE schema_version
    SET version = 2;
